api/stateMachine_overdue.json
{
	"Comment": "A description of my state machine",
	"StartAt": "Espera 12 dia",
	"States": {
		"Status Code 200": {
			"Type": "Pass",
			"End": true
		},
		"Espera 12 dia": {
			"Type": "Wait",
			"Seconds": 5,
			"Next": "Regatar Status atuais"
		},
		"Regatar Status atuais": {
			"Type": "Task",
			"Resource": "arn:aws:states:::lambda:invoke",
			"OutputPath": "$.Payload",
			"Parameters": {
				"Payload.$": "$",
				"FunctionName": "arn:aws:lambda:us-east-1:348265973939:function:ResgataStatusFatura-DOARDIGITAL-PRODUCAO:$LATEST"
			},
			"Retry": [
				{
					"ErrorEquals": [
						"Lambda.ServiceException",
						"Lambda.AWSLambdaException",
						"Lambda.SdkClientException",
						"Lambda.TooManyRequestsException"
					],
					"IntervalSeconds": 2,
					"MaxAttempts": 6,
					"BackoffRate": 2
				}
			],
			"Next": "Qual status??"
		},
		"Qual status??": {
			"Type": "Choice",
			"Choices": [
				{
					"Variable": "$.status",
					"StringEquals": "CREDIT",
					"Next": "Pass"
				},
				{
					"Or": [
						{
							"Variable": "$.status",
							"StringEquals": "OVERDUE"
						},
						{
							"Variable": "$.status",
							"StringEquals": "PENDING"
						}
					],
					"Next": "Retry de Pagamento"
				}
			]
		},
		"Pass": {
			"Type": "Pass",
			"End": true
		},
		"Retry de Pagamento": {
			"Type": "Task",
			"Resource": "arn:aws:states:::lambda:invoke",
			"OutputPath": "$.Payload",
			"Parameters": {
				"Payload.$": "$",
				"FunctionName": "arn:aws:lambda:us-east-1:348265973939:function:RetryPayment-DOARDIGITAL-PRODUCAO:$LATEST"
			},
			"Retry": [
				{
					"ErrorEquals": [
						"Lambda.ServiceException",
						"Lambda.AWSLambdaException",
						"Lambda.SdkClientException",
						"Lambda.TooManyRequestsException"
					],
					"IntervalSeconds": 2,
					"MaxAttempts": 6,
					"BackoffRate": 2
				}
			],
			"Next": "Qual Status?"
		},
		"Qual Status?": {
			"Type": "Choice",
			"Choices": [
				{
					"Variable": "$.status",
					"NumericEquals": 200,
					"Next": "Status Code 200"
				},
				{
					"Or": [
						{
							"Variable": "$.status",
							"NumericEquals": 400
						},
						{
							"Variable": "$.status",
							"NumericEquals": 402
						}
					],
					"Next": "Status Code 400"
				}
			]
		},
		"Status Code 400": {
			"Type": "Pass",
			"End": true
		}
	}
}