api/stateMachine_lead.json
{
	"Comment": "A description of my state machine",
	"StartAt": "Espera 15 minutos",
	"States": {
	  "Espera 15 minutos": {
		"Type": "Wait",
		"Seconds": 900,
		"Next": "Ver Status Lead"
	  },
	  "Ver Status Lead": {
		"Type": "Task",
		"Resource": "arn:aws:states:::lambda:invoke",
		"OutputPath": "$.Payload",
		"Parameters": {
		  "Payload.$": "$",
		  "FunctionName": "arn:aws:lambda:us-east-1:348265973939:function:StatusLead-DoarDigital-PRODUCAO:$LATEST"
		},
		"Retry": [
		  {
			"ErrorEquals": [
			  "Lambda.ServiceException",
			  "Lambda.AWSLambdaException",
			  "Lambda.SdkClientException",
			  "Lambda.TooManyRequestsException"
			],
			"IntervalSeconds": 2,
			"MaxAttempts": 6,
			"BackoffRate": 2
		  }
		],
		"Next": "Lead é doador?"
	  },
	  "Lead é doador?": {
		"Type": "Choice",
		"Choices": [
		  {
			"Variable": "$.leadStatus",
			"StringEquals": "1",
			"Next": "Pass"
		  },
		  {
			"Variable": "$.leadStatus",
			"StringEquals": "0",
			"Next": "Lead completou telefone?"
		  }
		]
	  },
	  "Lead completou telefone?": {
		"Type": "Choice",
		"Choices": [
		  {
			"Variable": "$.next.payload.telefone",
			"IsNull": true,
			"Next": "Enviar Email 15 min"
		  },
		  {
			"Not": {
			  "Variable": "$.next.payload.telefone",
			  "IsNull": true
			},
			"Next": "Primeiro Ciclo"
		  }
		]
	  },
	  "Enviar Email 15 min": {
		"Type": "Task",
		"Resource": "arn:aws:states:::lambda:invoke",
		"OutputPath": "$.Payload",
		"Parameters": {
		  "Payload.$": "$",
		  "FunctionName": "arn:aws:lambda:us-east-1:348265973939:function:ApiEmail_LEAD_DOARDIGITAL:$LATEST"
		},
		"Retry": [
		  {
			"ErrorEquals": [
			  "Lambda.ServiceException",
			  "Lambda.AWSLambdaException",
			  "Lambda.SdkClientException",
			  "Lambda.TooManyRequestsException"
			],
			"IntervalSeconds": 2,
			"MaxAttempts": 6,
			"BackoffRate": 2
		  }
		],
		"Next": "Espera 1 dia"
	  },
	  "Pass": {
		"Type": "Pass",
		"End": true
	  },
	  "Primeiro Ciclo": {
		"Type": "Parallel",
		"Branches": [
		  {
			"StartAt": "Email Zap",
			"States": {
			  "Email Zap": {
				"Type": "Task",
				"Resource": "arn:aws:states:::lambda:invoke",
				"OutputPath": "$.Payload",
				"Parameters": {
				  "Payload.$": "$",
				  "FunctionName": "arn:aws:lambda:us-east-1:348265973939:function:Enviar-Zap-RECUPERALEAD-DoarDigital-PRODUCAO:$LATEST"
				},
				"Retry": [
				  {
					"ErrorEquals": [
					  "Lambda.ServiceException",
					  "Lambda.AWSLambdaException",
					  "Lambda.SdkClientException",
					  "Lambda.TooManyRequestsException"
					],
					"IntervalSeconds": 2,
					"MaxAttempts": 6,
					"BackoffRate": 2
				  }
				],
				"End": true
			  }
			}
		  },
		  {
			"StartAt": "Enviar E-mail",
			"States": {
			  "Enviar E-mail": {
				"Type": "Task",
				"Resource": "arn:aws:states:::lambda:invoke",
				"OutputPath": "$.Payload",
				"Parameters": {
				  "Payload.$": "$",
				  "FunctionName": "arn:aws:lambda:us-east-1:348265973939:function:ApiEmail_LEAD_DOARDIGITAL:$LATEST"
				},
				"Retry": [
				  {
					"ErrorEquals": [
					  "Lambda.ServiceException",
					  "Lambda.AWSLambdaException",
					  "Lambda.SdkClientException",
					  "Lambda.TooManyRequestsException"
					],
					"IntervalSeconds": 2,
					"MaxAttempts": 6,
					"BackoffRate": 2
				  }
				],
				"End": true
			  }
			}
		  }
		],
		"Next": "Transforma output"
	  },
	  "Transforma output": {
		"Type": "Pass",
		"Next": "Espera 1 dia",
		"OutputPath": "$.[1]"
	  },
	  "Espera 1 dia": {
		"Type": "Wait",
		"Seconds": 86400,
		"Next": "Ver Status Lead (1)"
	  },
	  "Ver Status Lead (1)": {
		"Type": "Task",
		"Resource": "arn:aws:states:::lambda:invoke",
		"OutputPath": "$.Payload",
		"Parameters": {
		  "Payload.$": "$",
		  "FunctionName": "arn:aws:lambda:us-east-1:348265973939:function:StatusLead-DoarDigital-PRODUCAO:$LATEST"
		},
		"Retry": [
		  {
			"ErrorEquals": [
			  "Lambda.ServiceException",
			  "Lambda.AWSLambdaException",
			  "Lambda.SdkClientException",
			  "Lambda.TooManyRequestsException"
			],
			"IntervalSeconds": 2,
			"MaxAttempts": 6,
			"BackoffRate": 2
		  }
		],
		"Next": "Lead Virou Doador?"
	  },
	  "Lead Virou Doador?": {
		"Type": "Choice",
		"Choices": [
		  {
			"Variable": "$.leadStatus",
			"StringEquals": "1",
			"Next": "Pass (1)"
		  },
		  {
			"Variable": "$.leadStatus",
			"StringEquals": "0",
			"Next": "Lead completou telefone??"
		  }
		]
	  },
	  "Lead completou telefone??": {
		"Type": "Choice",
		"Choices": [
		  {
			"Not": {
			  "Variable": "$.next.payload.telefone",
			  "IsNull": true
			},
			"Next": "Segundo Ciclo"
		  },
		  {
			"Variable": "$.next.payload.telefone",
			"IsNull": true,
			"Next": "Enviar Email 15 min (1)"
		  }
		]
	  },
	  "Pass (1)": {
		"Type": "Pass",
		"End": true
	  },
	  "Segundo Ciclo": {
		"Type": "Parallel",
		"Branches": [
		  {
			"StartAt": "Email Zap (1)",
			"States": {
			  "Email Zap (1)": {
				"Type": "Task",
				"Resource": "arn:aws:states:::lambda:invoke",
				"OutputPath": "$.Payload",
				"Parameters": {
				  "Payload.$": "$",
				  "FunctionName": "arn:aws:lambda:us-east-1:348265973939:function:Enviar-Zap-RECUPERALEAD-DoarDigital-PRODUCAO_1_DAY:$LATEST"
				},
				"Retry": [
				  {
					"ErrorEquals": [
					  "Lambda.ServiceException",
					  "Lambda.AWSLambdaException",
					  "Lambda.SdkClientException",
					  "Lambda.TooManyRequestsException"
					],
					"IntervalSeconds": 2,
					"MaxAttempts": 6,
					"BackoffRate": 2
				  }
				],
				"End": true
			  }
			}
		  },
		  {
			"StartAt": "Enviar Email",
			"States": {
			  "Enviar Email": {
				"Type": "Task",
				"Resource": "arn:aws:states:::lambda:invoke",
				"OutputPath": "$.Payload",
				"Parameters": {
				  "Payload.$": "$",
				  "FunctionName": "arn:aws:lambda:us-east-1:348265973939:function:ApiEmail_LEAD_DOARDIGITAL-1_DAY:$LATEST"
				},
				"Retry": [
				  {
					"ErrorEquals": [
					  "Lambda.ServiceException",
					  "Lambda.AWSLambdaException",
					  "Lambda.SdkClientException",
					  "Lambda.TooManyRequestsException"
					],
					"IntervalSeconds": 2,
					"MaxAttempts": 6,
					"BackoffRate": 2
				  }
				],
				"End": true
			  }
			}
		  }
		],
		"Next": "Transforma o Output"
	  },
	  "Transforma o Output": {
		"Type": "Pass",
		"Next": "Aguarda 4 dias",
		"OutputPath": "$.[1]"
	  },
	  "Aguarda 4 dias": {
		"Type": "Wait",
		"Seconds": 345600,
		"Next": "Ver Status Lead (2)"
	  },
	  "Ver Status Lead (2)": {
		"Type": "Task",
		"Resource": "arn:aws:states:::lambda:invoke",
		"OutputPath": "$.Payload",
		"Parameters": {
		  "Payload.$": "$",
		  "FunctionName": "arn:aws:lambda:us-east-1:348265973939:function:StatusLead-DoarDigital-PRODUCAO:$LATEST"
		},
		"Retry": [
		  {
			"ErrorEquals": [
			  "Lambda.ServiceException",
			  "Lambda.AWSLambdaException",
			  "Lambda.SdkClientException",
			  "Lambda.TooManyRequestsException"
			],
			"IntervalSeconds": 2,
			"MaxAttempts": 6,
			"BackoffRate": 2
		  }
		],
		"Next": "Lead Virou Doador???"
	  },
	  "Lead Virou Doador???": {
		"Type": "Choice",
		"Choices": [
		  {
			"Variable": "$.leadStatus",
			"StringEquals": "1",
			"Next": "Pass (2)"
		  },
		  {
			"Variable": "$.leadStatus",
			"StringEquals": "0",
			"Next": "Lead completou telefone??."
		  }
		]
	  },
	  "Lead completou telefone??.": {
		"Type": "Choice",
		"Choices": [
		  {
			"Variable": "$.next.payload.telefone",
			"IsNull": true,
			"Next": "Enviar Email 15 min (2)"
		  },
		  {
			"Not": {
			  "Variable": "$.next.payload.telefone",
			  "IsNull": true
			},
			"Next": "Terceiro Ciclo"
		  }
		]
	  },
	  "Enviar Email 15 min (2)": {
		"Type": "Task",
		"Resource": "arn:aws:states:::lambda:invoke",
		"OutputPath": "$.Payload",
		"Parameters": {
		  "Payload.$": "$",
		  "FunctionName": "arn:aws:lambda:us-east-1:348265973939:function:ApiEmail_LEAD_DOARDIGITAL-4_DAY:$LATEST"
		},
		"Retry": [
		  {
			"ErrorEquals": [
			  "Lambda.ServiceException",
			  "Lambda.AWSLambdaException",
			  "Lambda.SdkClientException",
			  "Lambda.TooManyRequestsException"
			],
			"IntervalSeconds": 2,
			"MaxAttempts": 6,
			"BackoffRate": 2
		  }
		],
		"End": true
	  },
	  "Terceiro Ciclo": {
		"Type": "Parallel",
		"Next": "Pass (3)",
		"Branches": [
		  {
			"StartAt": "Email Mail (2)",
			"States": {
			  "Email Mail (2)": {
				"Type": "Task",
				"Resource": "arn:aws:states:::lambda:invoke",
				"OutputPath": "$.Payload",
				"Parameters": {
				  "Payload.$": "$",
				  "FunctionName": "arn:aws:lambda:us-east-1:348265973939:function:ApiEmail_LEAD_DOARDIGITAL-4_DAY:$LATEST"
				},
				"Retry": [
				  {
					"ErrorEquals": [
					  "Lambda.ServiceException",
					  "Lambda.AWSLambdaException",
					  "Lambda.SdkClientException",
					  "Lambda.TooManyRequestsException"
					],
					"IntervalSeconds": 2,
					"MaxAttempts": 6,
					"BackoffRate": 2
				  }
				],
				"End": true
			  }
			}
		  },
		  {
			"StartAt": "Enviar Zap (2)",
			"States": {
			  "Enviar Zap (2)": {
				"Type": "Task",
				"Resource": "arn:aws:states:::lambda:invoke",
				"OutputPath": "$.Payload",
				"Parameters": {
				  "Payload.$": "$",
				  "FunctionName": "arn:aws:lambda:us-east-1:348265973939:function:Enviar-Zap-RECUPERALEAD-DoarDigital-PRODUCAO_5_DAY:$LATEST"
				},
				"Retry": [
				  {
					"ErrorEquals": [
					  "Lambda.ServiceException",
					  "Lambda.AWSLambdaException",
					  "Lambda.SdkClientException",
					  "Lambda.TooManyRequestsException"
					],
					"IntervalSeconds": 2,
					"MaxAttempts": 6,
					"BackoffRate": 2
				  }
				],
				"End": true
			  }
			}
		  }
		]
	  },
	  "Pass (2)": {
		"Type": "Pass",
		"End": true
	  },
	  "Pass (3)": {
		"Type": "Pass",
		"End": true
	  },
	  "Enviar Email 15 min (1)": {
		"Type": "Task",
		"Resource": "arn:aws:states:::lambda:invoke",
		"OutputPath": "$.Payload",
		"Parameters": {
		  "Payload.$": "$",
		  "FunctionName": "arn:aws:lambda:us-east-1:348265973939:function:ApiEmail_LEAD_DOARDIGITAL-1_DAY:$LATEST"
		},
		"Retry": [
		  {
			"ErrorEquals": [
			  "Lambda.ServiceException",
			  "Lambda.AWSLambdaException",
			  "Lambda.SdkClientException",
			  "Lambda.TooManyRequestsException"
			],
			"IntervalSeconds": 2,
			"MaxAttempts": 6,
			"BackoffRate": 2
		  }
		],
		"Next": "Aguarda 4 dias"
	  }
	}
  }